.section-operations {
    padding: 50px $site-side__padding 70px
}

.operations__list {
    margin-top: 30px;
    list-style: none;
    padding: 0;
    counter-reset: operations-counter;
    gap: 28px;
}

.operation {
    display: flex;
    align-items: center;
    counter-increment: operations-counter;
    flex-grow: 1;
    position: relative;
    margin-left: 12px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 33px;
    background: $grey-lighter;
    @include box-shadow;
    border-radius: 50vh;

    &::before {
        content: counter(operations-counter);
        position: absolute;
        left: -12px;
        height: 24px;
        width: 24px;
        border-radius: 24px;
        background: $color-primary;
        color: $white;
        text-align: center;
        font-size: 1.4rem;
        line-height: 25px;
    }

    &:hover {
        background: lighten($color-primary, 36);
        .operation__icon {
            color: $color-primary;
        }
    }
}
    
.operation__icon {
    margin-left: 33px;
    color: $grey;
}

.operation__text {
    font-weight: bolder;
    margin-left: 27px;
}
