.restaurant {
    position: relative;
}

.restaurant__link {
    & {
        h3, p {
            color: $color__text-main;
        }
    }

    &:hover {
        h3, p {
            color: $color__link--hover;
        }
    }
}

.restaurant,
.restaurant__img img,
.restaurant__content {
    border-radius: 15px;
}

.restaurant__thumb {
    position: relative;
}

.restaurant__img img {
    height: 174px;
    object-fit: cover;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.meta-info {
    position: absolute;
    top: 13px;
    right: 11px;
    padding: 5px 13px;
    background-color: $color-tertiary;
    border-radius: 3px;
    color: rgba(0, 0, 0, .5);
}

.restaurant__content {
    display: flex;
    flex-direction: column;
    background: $white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.restaurant__info {
    padding: 0 90px 0 14px;
}

.restaurant__link {
    text-decoration: none;
    color: $color__text-main;
}

.restaurant__title {
    margin-top: 10px;
    margin-bottom: 0;
}

.restaurant__address {
    margin-top: 0;
    margin-bottom: 20px;
}

.restaurant__like {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 90px;
    width: 90px;
    display: grid;
    justify-content: center;
    align-items: center;
}
