.site-header {
    display: grid;
    place-content: center;
    min-height: 63px;
    position: relative;

    .logo {
        font-family: $font__heading;
        color: $color__logo;
        font-size: 3rem;
        margin: 0;
    }

    nav {
        position: absolute;
        top: 20px;
        left: 23px;

        a:link {
            color: $grey-dark;
            border: 0;
            font-size: 1.6rem;
        }

    }
}
