.site-header {
    display: grid;
    min-height: 63px;
    grid-template-areas: "site-header";
    align-items: center;
    grid-template-columns: minmax(0, $image-width__max);
    justify-content: center;
    padding: 0 $site-gap;

    .logo {
        color: $color__logo;
        font-family: $font__heading;
        font-size: 3rem;
        grid-area: site-header;
        justify-self: center;
        margin: 0;
    }

    nav {
        grid-area: site-header;
        justify-self: start;

        a {
            padding: 1em 1em 1em 0;
            color: $grey-dark;
            border: 0;
            font-size: 1.6rem;

            &::before {
                @include icon;
                content: "\f060";
            }
        }

    }
}
