.page-home {

    .main-content {
    display: grid;
    grid-template-columns: minmax(0, $image-width__max);
    justify-content: center;
    gap: $site-gap;
    padding: 58px $site-gap 64px;

    @media (min-width: $small) {
        grid-template-columns: repeat(2, minmax(0, $image-width__max));
        gap: $site-gap*2;
    }

    @media (min-width: $medium) {
        gap: $site-gap*3;
    }

        .section-title {
            margin-bottom: 0;

            @media (min-width: $small) {
                grid-column: span 2;
                text-align: center;
                margin-bottom: $site-gap;
            }
        }

        .post {
            @include box-shadow;
            background: $white;
            border-radius: 15px;
            display: grid;
            grid-template-areas: "restaurant";
            overflow: hidden;
            position: relative;
        }

        .post__link {
            grid-area: restaurant;
            color: $color__text-main;
            border: 0;
            display: grid;
            grid-template-areas: "image" "text";
        }
        
        .post__picture {
            grid-area: image;
        }
        
        .post__img {
            height: 174px;
        
            @media (min-width: $medium) {
                height: 250px;
            }
        }
        
        .meta-info {
            grid-area: image;
            margin: 13px 11px auto auto;
            padding: 5px 13px;
            background-color: $color-tertiary;
            border-radius: 3px;
            color: rgba(0, 0, 0, .9);
        }
        
        .post__title,
        .post__description {
            margin: 0;
            padding: 10px 90px 0 14px;
        }
        
        .post__description {
            padding-top: 0;
            padding-bottom: 18px;
        }
        
        .btn-like {
            grid-area: restaurant;
            margin: auto 24px 33px auto;
        }
    }
}
