.location__form {
  background: $color-background;
  padding-bottom: 55px;
  text-align: center;

  .location__input {
    align-items: center;
    background: $grey-light;
    background: linear-gradient(180deg, rgba(207, 207, 207, 1) 0%, rgba(234, 234, 234, 1) 10%, rgba(234, 234, 234, 1) 100%);
    box-sizing: border-box;
    display: flex;
    height: 50px;
    justify-content: center;

    &::before {
      @include icon;

      content: '\f3c5';
    }

    input {
      background: transparent;
      border: 0;
      margin-left: 12px;
      width: 120px;
    }
  }

  h1 {
    font-size: 2.4rem;
    margin-top: 40px;
    padding: 0 40px;
  }

  p {
    color: $grey-dark;
    font-size: 1.8rem;
    font-weight: 300;
    padding: 0 30px;
  }
}
