@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 1rem = 10px */
html {
  font-size: 62.5%;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Set core body defaults */
body {
  background: #fff;
  color: #000;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
  min-height: 100vh;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
button:focus-visible,
input:focus-visible {
  outline: 2px solid #9356dc;
  outline-offset: 0.25em;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 500;
  margin-bottom: 2rem;
}

h1,
.h1 {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.2;
}

h2,
.h2 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
}

h3,
.h3 {
  font-size: 1.8rem;
  line-height: 1.3;
}

h4,
.h4 {
  font-size: 1.8rem;
  line-height: 1.35;
}

h5,
.h5 {
  font-size: 1.6rem;
  line-height: 1.5;
}

h6,
.h6 {
  font-size: 1.6rem;
  line-height: 1.4;
}

.heading {
  display: block;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
}

p,
.p {
  margin-bottom: 0.8em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

big {
  font-size: 125%;
}

a {
  border-bottom: 1px dotted currentColor;
  color: #9356dc;
  outline: solid transparent;
  position: relative;
  text-decoration: none;
}

a:visited {
  color: currentColor;
}

a:focus-visible {
  background: #99e2d0;
  border-bottom-style: solid;
  color: #481a7f;
  outline: 2px solid #9356dc;
  outline-offset: 0.25em;
}

a:hover {
  border-bottom-style: solid;
  color: #481a7f;
}

a:active {
  background: #99e2d0;
  color: #481a7f;
  top: 1px;
}

img {
  height: auto;
  object-fit: cover;
  width: 100%;
}

.btn {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background: #9356dc;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  border: 0;
  border-radius: 50vh;
  color: #fff;
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 45px auto 0;
  min-width: 186px;
  padding: 1.6rem 2.2rem;
  position: relative;
  z-index: 10;
}
.btn::before {
  box-shadow: 0 2px 5px rgba(121, 72, 182, 0.5);
  background: #a16be0;
  background: linear-gradient(to top, #782cd3, #ff46cc);
  border-radius: 50vh;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 200ms linear;
  z-index: -1;
}
.btn:hover::before {
  opacity: 1;
}
.btn:active {
  top: 1px;
}

.btn-like {
  cursor: pointer;
  display: grid;
  grid-template-areas: "btn-like";
  height: 28px;
  place-content: center;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 28px;
}
.btn-like > * {
  grid-area: btn-like;
}
.btn-like .like-check {
  height: 1em;
  opacity: 0;
  width: 1em;
}
.btn-like .heart {
  height: 28px;
  position: relative;
  width: 28px;
}
.btn-like .heart::before,
.btn-like .heart::after {
  background-color: #101010;
  border-radius: 18px 18px 0 0;
  bottom: 0;
  content: "";
  height: 28px;
  position: absolute;
  width: 18px;
}
.btn-like .heart::after {
  border-radius: 0 18px 18px 0;
  height: 18px;
  width: 28px;
}
.btn-like .like-check:focus-visible + .heart {
  outline: 2px solid #9356dc;
  outline-offset: 0.25em;
}
.btn-like .heart-clip {
  height: 26px;
  margin: auto;
  width: 26px;
}
.btn-like .heart-clip::before,
.btn-like .heart-clip::after {
  background-color: #fff;
  border-radius: 16px 16px 0 0;
  height: 26px;
  width: 16px;
}
.btn-like .heart-clip::after {
  border-radius: 0 16px 16px 0;
  height: 16px;
  width: 26px;
}
.btn-like .heart-fill {
  transform: scale(0);
  transform-origin: bottom left;
  transition: transform 200ms ease-in-out;
}
.btn-like .heart-fill::before,
.btn-like .heart-fill::after {
  background: #9356dc;
  background: linear-gradient(45deg, #ff79da 0%, #b661db 100%);
}
.btn-like .like-check:checked ~ .heart-fill {
  transform: scale(1);
}

.btn-like-glyph {
  display: grid;
  grid-template-areas: "btn-like";
  margin: 0 0 0 20px;
}
.btn-like-glyph::before, .btn-like-glyph::after {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  text-rendering: auto;
  content: "";
  font-size: 2.7rem;
  grid-area: btn-like;
}
.btn-like-glyph::before {
  font-weight: normal;
  opacity: 1;
  transition: opacity 300ms linear;
}
.btn-like-glyph::after {
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 0;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  transition: background-size 300ms linear;
}
.btn-like-glyph:hover::before {
  opacity: 0;
}
.btn-like-glyph:hover::after {
  background-size: 100% 100%;
}

.modal-box {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  animation: modal-init 5s linear forwards;
  background-color: #fff;
  bottom: 0;
  display: grid;
  left: 0;
  opacity: 0;
  place-content: center;
  position: fixed;
  right: 0;
  top: 0;
  transform: scale(0);
  transform-origin: center;
  z-index: 1000;
}
.modal-box .heading {
  display: block;
  font-size: 4rem;
  margin: 0 auto 120px;
}
.modal-box .text {
  margin-top: 10px;
  text-align: center;
}

@keyframes modal-init {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  10% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
.loader {
  column-gap: 30px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin: auto;
}
.loader .ball {
  animation: jump 1s infinite both;
  border-radius: 30px;
  cursor: pointer;
  height: 30px;
  position: relative;
  transform-origin: center;
  width: 30px;
  z-index: 999;
}
.loader .ball:active {
  animation-play-state: paused;
}
.loader div:nth-of-type(1) {
  background: #9356dc;
  background: linear-gradient(0deg, #782cd3 0%, #9356dc 100%);
}
.loader div:nth-of-type(2) {
  animation-delay: 0.3s;
  background: #ff79da;
  background: linear-gradient(0deg, #ff46cc 0%, #ff79da 100%);
}
.loader div:nth-of-type(3) {
  animation-delay: 0.15s;
  background: #99e2d0;
  background: linear-gradient(0deg, #71d7be 0%, #99e2d0 100%);
}
.loader div:nth-of-type(5) {
  animation-delay: 0.3s;
}
.loader div:nth-of-type(6) {
  animation-delay: 0.15s;
}
.loader .ball:active + div + div + div {
  animation-play-state: paused;
}
.loader .shadow {
  animation: shrink 1s infinite both;
  background-color: #000;
  border-radius: 50%;
  bottom: 4px;
  display: inline-block;
  height: 5px;
  opacity: 0.2;
  position: relative;
  width: 30px;
}
@keyframes jump {
  0% {
    animation-timing-function: ease-in;
    transform: translateY(0) scale(1.3, 0.4);
    transform-origin: bottom;
  }
  15% {
    animation-timing-function: ease-out;
    transform: translateY(0);
    transform-origin: center;
  }
  45% {
    animation-timing-function: ease-in;
    transform: translateY(-110px) scale(0.8, 1.2);
    transform-origin: top;
  }
  55% {
    animation-timing-function: ease-in;
    transform: translateY(-110px) scale(0.8, 1.2);
    transform-origin: top;
  }
  88% {
    animation-timing-function: ease-out;
    transform: translateY(0);
    transform-origin: center;
  }
  100% {
    animation-timing-function: ease-out;
    transform: translateY(0) scale(1.3, 0.4);
    transform-origin: bottom;
  }
}
@keyframes shrink {
  0% {
    animation-timing-function: ease-in;
    opacity: 0.2;
    transform: scaleX(1);
  }
  15% {
    animation-timing-function: ease-out;
    opacity: 0.2;
    transform: scaleX(1);
  }
  45% {
    animation-timing-function: ease-in;
    opacity: 0.05;
    transform: scaleX(0.5);
  }
  55% {
    animation-timing-function: ease-in;
    opacity: 0.05;
    transform: scaleX(0.5);
  }
  88% {
    animation-timing-function: ease-out;
    opacity: 0.2;
    transform: scaleX(1);
  }
  100% {
    animation-timing-function: ease-out;
    opacity: 0.2;
    transform: scaleX(1);
  }
}

.site-header {
  align-items: center;
  display: grid;
  grid-template-areas: "site-header";
  grid-template-columns: minmax(0, 600px);
  justify-content: center;
  min-height: 63px;
  padding: 0 20px;
}
.site-header .logo {
  color: #101010;
  font-family: "Shrikhand", cursive;
  font-size: 3rem;
  grid-area: site-header;
  justify-self: center;
  margin: 0;
}
.site-header nav {
  grid-area: site-header;
  justify-self: start;
}
.site-header nav a {
  border: 0;
  color: #353535;
  font-size: 1.6rem;
  padding: 1em 1em 1em 0;
}
.site-header nav a::before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  text-rendering: auto;
  content: "";
}

.location__form {
  background: #f6f6f6;
  padding-bottom: 55px;
  text-align: center;
}
.location__form .location__input {
  align-items: center;
  background: #eaeaea;
  background: linear-gradient(180deg, #cfcfcf 0%, #eaeaea 10%, #eaeaea 100%);
  box-sizing: border-box;
  display: flex;
  height: 50px;
  justify-content: center;
}
.location__form .location__input::before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  text-rendering: auto;
  content: "";
}
.location__form .location__input input {
  background: transparent;
  border: 0;
  margin-left: 12px;
  width: 120px;
}
.location__form h1 {
  font-size: 2.4rem;
  margin-top: 40px;
  padding: 0 40px;
}
.location__form p {
  color: #353535;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 0 30px;
}

.operations {
  display: grid;
  grid-template-columns: minmax(0, 600px);
  justify-content: center;
  padding: 50px 20px 70px;
}
@media (min-width: 992px) {
  .operations {
    grid-template-columns: minmax(0, 1240px);
  }
}
@media (min-width: 768px) {
  .operations .section-title {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .operations .section-title {
    margin-bottom: 40px;
  }
}

.operations__list {
  counter-reset: operations-counter;
  display: grid;
  gap: 20px;
  grid-template-columns: minmax(0, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 992px) {
  .operations__list {
    gap: 40px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.operations__list .operation {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  align-items: center;
  background: #f6f6f6;
  border-radius: 50vh;
  counter-increment: operations-counter;
  display: flex;
  flex-grow: 1;
  margin-left: 12px;
  padding-bottom: 25px;
  padding-right: 33px;
  padding-top: 25px;
  position: relative;
  z-index: 10;
}
.operations__list .operation::before {
  background: #9356dc;
  border-radius: 24px;
  color: #fff;
  content: counter(operations-counter);
  font-size: 1.4rem;
  height: 24px;
  left: -12px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  width: 24px;
}
.operations__list .operation::after {
  background: #f4eefc;
  border-radius: inherit;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity ease-in-out 200ms;
  z-index: -1;
}
.operations__list .operation .operation__text {
  font-weight: bolder;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.operations__list .operation .operation__text::before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  text-rendering: auto;
  color: #7e7e7e;
  margin: 0 33px 0 27px;
}
.operations__list .operation:hover .operation__text::before {
  color: #9356dc;
}
.operations__list .operation:hover::after {
  opacity: 1;
}
.operations__list .operation:nth-of-type(1) .operation__text::before {
  content: "";
}
.operations__list .operation:nth-of-type(2) .operation__text::before {
  content: "";
}
.operations__list .operation:nth-of-type(3) .operation__text::before {
  content: "";
}

.main-content {
  background-color: #f6f6f6;
}

.menu__field {
  align-content: start;
  border: 0;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  margin: 0;
  padding: 0;
  row-gap: 18px;
}
.menu__field .h2 {
  /* hack to reset legend */
  float: left;
  font-size: 1.6rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
  /* end of hack */
}
.menu__field .h2 + * {
  clear: both;
}
.menu__field .h2::after {
  background: #99e2d0;
  content: "";
  display: block;
  height: 3px;
  margin-top: 6px;
  width: 40px;
}

.menu-item {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  animation: menu-init 1s ease-in-out both;
  background: #fff;
  border-radius: 17px;
  cursor: pointer;
  display: flex;
  height: 68px;
  overflow: hidden;
}
.menu-item:nth-of-type(2) {
  animation-delay: 200ms;
}
.menu-item:nth-of-type(3) {
  animation-delay: 400ms;
}
.menu-item:nth-of-type(4) {
  animation-delay: 600ms;
}

.menu-item__label {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  min-width: 0;
  padding: 10px;
}

.menu-item__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
}

.menu-item__name,
.menu-item__description {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-item__info {
  align-self: flex-end;
  padding: 0 10px;
}

.menu-item__price {
  font-weight: bolder;
}

.menu-item__input {
  background: #99e2d0;
  display: grid;
  grid-template-areas: "checkbox";
  margin-right: -60px;
  place-content: center;
  transition: margin linear 400ms;
  width: 60px;
}

.menu-item__control {
  background: #fff;
  border-radius: 2rem;
  color: #99e2d0;
  display: inline-grid;
  grid-area: checkbox;
  height: 2rem;
  opacity: 0;
  transform: rotate(0);
  transition: transform linear 400ms, opacity linear 400ms;
  width: 2rem;
}
.menu-item__control svg {
  transform: scale(0);
  transform-origin: bottom left;
  transition: transform 0.1s ease-in 25ms;
}

.menu-item__input:focus-within {
  margin-right: 0;
  transition: none !important;
}
.menu-item__input:focus-within .menu-item__control {
  opacity: 1;
  transition: none !important;
}

.menu-item:hover .menu-item__input {
  margin-right: 0;
}
.menu-item:hover .menu-item__input .menu-item__control {
  opacity: 1;
  transform: rotate(360deg);
}

.checkbox__input {
  grid-area: checkbox;
  height: 1em;
  opacity: 0;
  width: 1em;
}
.checkbox__input:focus-visible + .checkbox__control {
  box-shadow: 0 0 0 0.05em #fff, 0 0 2px 2px #9356dc;
}
.checkbox__input:checked + .checkbox__control svg {
  transform: scale(1);
}
.checkbox__input:disabled + .checkbox__control {
  color: var(--disabled);
}

@keyframes menu-init {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.site-footer {
  background: #353535;
  color: #fff;
  display: grid;
  grid-template-columns: minmax(0, 1200px);
  justify-content: center;
  padding: 25px 20px 35px;
}
@media (min-width: 768px) {
  .site-footer .heading {
    text-align: center;
  }
}
.site-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .site-footer ul {
    column-gap: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.site-footer li {
  margin-top: 2px;
}
.site-footer li a {
  border-color: transparent;
  color: #fff;
}
.site-footer li a:focus {
  color: #481a7f;
}
.site-footer li a:hover {
  border-color: currentColor;
  color: currentColor;
}
.site-footer li a:active {
  color: #481a7f;
}
.site-footer li::before {
  margin-right: 15px;
}
.site-footer li:nth-of-type(1)::before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  text-rendering: auto;
  content: "";
}
.site-footer li:nth-of-type(2)::before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  text-rendering: auto;
  content: "";
}

.page-home .main-content {
  display: grid;
  gap: 20px;
  grid-template-columns: minmax(0, 600px);
  justify-content: center;
  padding: 58px 20px 64px;
}
@media (min-width: 768px) {
  .page-home .main-content {
    gap: 40px;
    grid-template-columns: repeat(2, minmax(0, 600px));
  }
}
@media (min-width: 992px) {
  .page-home .main-content {
    gap: 60px;
  }
}
.page-home .main-content .section-title {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .page-home .main-content .section-title {
    grid-column: span 2;
    margin-bottom: 20px;
    text-align: center;
  }
}
.page-home .main-content .post {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 15px;
  display: grid;
  grid-template-areas: "restaurant";
  overflow: hidden;
  position: relative;
}
.page-home .main-content .post__link {
  border: 0;
  color: #000;
  display: grid;
  grid-area: restaurant;
  grid-template-areas: "image" "text";
}
.page-home .main-content .post__link:hover {
  background: #99e2d0;
}
.page-home .main-content .post__picture {
  grid-area: image;
}
.page-home .main-content .post__img {
  height: 174px;
}
@media (min-width: 992px) {
  .page-home .main-content .post__img {
    height: 250px;
  }
}
.page-home .main-content .meta-info {
  background-color: #99e2d0;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.9);
  grid-area: image;
  margin: 13px 11px auto auto;
  padding: 5px 13px;
}
.page-home .main-content .post__title,
.page-home .main-content .post__description {
  margin: 0;
  padding: 10px 90px 0 14px;
}
.page-home .main-content .post__description {
  padding-bottom: 18px;
  padding-top: 0;
}
.page-home .main-content .btn-like {
  grid-area: restaurant;
  margin: auto 24px 33px auto;
}

.page-post .main-content {
  padding-top: 210px;
  position: relative;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .page-post .main-content::after {
    background: #353535;
    bottom: 0;
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
  }
}
@media (min-width: 1440px) {
  .page-post .main-content::after {
    background: #353535;
    bottom: 0;
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
  }
}
.page-post .section-post {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background: #fff;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  overflow: hidden;
  padding: 0 20px 0;
  position: relative;
  z-index: 10;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .page-post .section-post {
    border-bottom-left-radius: 37px;
    border-bottom-right-radius: 37px;
  }
}
@media (min-width: 1200px) {
  .page-post .section-post {
    max-width: 1440px;
  }
}
@media (min-width: 1440px) {
  .page-post .section-post {
    border-bottom-left-radius: 37px;
    border-bottom-right-radius: 37px;
  }
}
.page-post .post__picture {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.page-post .post__img {
  border-radius: 0;
  height: 257px;
}
.page-post .post__header {
  align-items: center;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-top: 30px;
  position: relative;
  z-index: 10;
}
@media (min-width: 1200px) {
  .page-post .post__header {
    justify-content: center;
  }
  .page-post .post__header .btn-like {
    margin-left: 40px;
  }
}
.page-post .post__title {
  margin: 0;
  padding: 0;
}
.page-post .btn-like {
  margin: 0 0 10px 20px;
}
.page-post .post__form {
  display: grid;
  gap: 60px;
  grid-template-columns: minmax(0, 1fr);
  margin-top: 30px;
  padding-bottom: 55px;
}
@media (min-width: 1200px) {
  .page-post .post__form {
    grid-template-columns: repeat(3, minmax(0, 400px));
    justify-content: space-between;
  }
}
.page-post .post__form .btn {
  margin: auto;
}
@media (min-width: 1200px) {
  .page-post .post__form .btn {
    grid-column: 2/3;
  }
}

/*# sourceMappingURL=style.css.map */
