#primary-gradient {
  --color-stop-1: #FF79DA;
  --color-stop-2: #9356DC;
}

/* Generic
--------------------------------------------- */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
button:focus {
  outline: max(1px, 0.1em) solid currentColor;
  outline-offset: 0.25em;
}

/* Typography
--------------------------------------------- */
html {
  font-size: 62.5%;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: #000;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 500;
  margin-bottom: 2rem;
  margin-top: 0;
}

h1, .h1 {
  font-size: 2.6rem;
  line-height: 1.2;
  font-weight: 600;
}

h2, .h2 {
  font-size: 2.4rem;
  line-height: 1.25;
  font-weight: 600;
}

h3, .h3 {
  font-size: 1.8rem;
  line-height: 1.3;
}

h4, .h4 {
  font-size: 1.8rem;
  line-height: 1.35;
}

h5, .h5 {
  font-size: 1.6rem;
  line-height: 1.5;
}

h6, .h6 {
  font-size: 1.6rem;
  line-height: 1.4;
}

.heading {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
}

p, .p {
  margin-top: 0;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

big {
  font-size: 125%;
}

a {
  position: relative;
  outline: solid transparent;
  text-decoration: none;
  color: #FF79DA;
  border-bottom: 1px dotted currentColor;
}

a:visited {
  color: inherit;
}

a:focus {
  border-bottom-style: solid;
  background: #FF79DA;
  color: #481a7f;
}

a:hover {
  border-bottom-style: solid;
  color: #9356DC;
}

a:active {
  background: #FF79DA;
  color: #481a7f;
  top: 1px;
}

/* Elements
--------------------------------------------- */
body {
  margin: 0;
  background: #fff;
}

picture {
  display: block;
}

img {
  display: block;
  height: auto;
  width: 100%;
  object-fit: cover;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 18px;
}

@media (min-width: 768px) {
  .grid-small {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
  }
}
@media (min-width: 992px) {
  .grid-medium {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1200px) {
  .grid-large {
    gap: 14px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
button {
  cursor: pointer;
}

.btn {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  background: #9356DC;
  background: linear-gradient(355deg, #9356DC 0%, #FF79DA 100%);
  border-radius: 50vh;
  border: 0;
  color: #fff;
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 45px auto;
  padding: 1.6rem 2.2rem;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}
.btn:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  background: #a16be0;
  background: linear-gradient(355deg, #ac66ff 0%, #fface8 100%);
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

/*
 * Solution in pure css.
 */
.btn-like.pure-css {
  cursor: pointer;
  display: grid;
  height: 28px;
  place-content: center;
  position: relative;
  right: 8px;
  transform-origin: center;
  transform: rotate(-45deg);
  width: 28px;
}
.btn-like.pure-css:hover .heart-fill {
  transform: scale(1);
}
.btn-like.pure-css .heart-shape {
  position: relative;
  grid-area: hearts;
  height: 28px;
  width: 28px;
}
.btn-like.pure-css .heart-shape::before, .btn-like.pure-css .heart-shape::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 18px;
  height: 28px;
  border-radius: 18px 18px 0 0;
}
.btn-like.pure-css .heart-shape::after {
  width: 28px;
  height: 18px;
  border-radius: 0 18px 18px 0;
}
.btn-like.pure-css .heart-bg {
  top: 1px;
  left: 1px;
  height: 26px;
  width: 26px;
}
.btn-like.pure-css .heart-bg::before, .btn-like.pure-css .heart-bg::after {
  width: 16px;
  height: 26px;
  border-radius: 16px 16px 0 0;
}
.btn-like.pure-css .heart-bg::after {
  width: 26px;
  height: 16px;
  border-radius: 0 16px 16px 0;
}
.btn-like.pure-css .heart-stroke::before, .btn-like.pure-css .heart-stroke::after {
  background-color: #101010;
}
.btn-like.pure-css .heart-bg::before, .btn-like.pure-css .heart-bg::after {
  background-color: #fff;
}
.btn-like.pure-css .heart-fill::before, .btn-like.pure-css .heart-fill::after {
  background: #9356DC;
  background: linear-gradient(45deg, #ff79da 0%, #b661db 100%);
}
.btn-like.pure-css .heart-fill {
  transform-origin: bottom left;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}

/*
 * Solution svg-v1.
 */
.svg-v1 {
  padding: 0;
}
.svg-v1 .hearts {
  display: block;
  position: relative;
  width: 23px;
  height: 23px;
}
.svg-v1 .hearts svg {
  overflow: visible;
  clip-path: url(#cut-off-heart);
}
.svg-v1 .hearts .heart-main {
  overflow: visible;
  stroke: #000;
  width: 23px;
  height: 23px;
  stroke-width: 1px;
  fill: transparent;
  z-index: 10;
}
.svg-v1 .hearts .heart-fill-clip {
  stroke-width: 1px;
}
.svg-v1 .hearts .heart-fill {
  width: 23px;
  height: 23px;
  stroke: none;
  fill: url(#primary-gradient) #9356DC;
  transform: translatey(23px);
}
.svg-v1:hover .heart-fill {
  animation: fill-animation 2s ease-in-out forwards;
}

@keyframes fill-animation {
  0% {
    transform: translatey(23px);
  }
  100% {
    transform: translatey(0);
  }
}
/*
 * Solution svg-v2.
 */
.svg-v2 {
  padding: 0;
}
.svg-v2 .hearts {
  position: relative;
  width: 23px;
  height: 23px;
  stroke: #000;
  stroke-width: 1px;
  fill: transparent;
  z-index: 10;
}
.svg-v2 .hearts svg {
  overflow: visible;
  width: 23px;
  height: 23px;
}
.svg-v2 .hearts path {
  stroke-dashoffset: 0;
  stroke-dasharray: 73;
  transform-origin: center;
}
.svg-v2 .hearts .heart-background {
  position: absolute;
  left: 0;
  right: 0;
  stroke: none;
  z-index: -1;
  overflow: hidden;
}

/*
 * Solution SVG demo
 */
.svg-demo {
  padding: 0;
}
.svg-demo .hearts {
  position: relative;
  width: 23px;
  height: 23px;
  stroke: #000;
  stroke-width: 1px;
  fill: transparent;
  z-index: 10;
}
.svg-demo .hearts svg {
  overflow: visible;
  width: 23px;
  height: 23px;
}
.svg-demo .hearts path {
  stroke-dashoffset: 0;
  stroke-dasharray: 73;
  transform-origin: center;
}
.svg-demo .hearts .heart-background {
  position: absolute;
  left: 0;
  right: 0;
  stroke: none;
  z-index: -1;
}
.svg-demo:hover .heart-main path {
  animation: stroke-animation 2s ease-in-out forwards;
}
.svg-demo:hover .heart-background {
  animation: fade-animation 2s ease-in-out forwards;
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 73;
  }
  60% {
    stroke-dashoffset: 146;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: url(#primary-gradient) #9356DC;
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 146;
    fill: url(#primary-gradient) #9356DC;
  }
}
@keyframes fade-animation {
  70% {
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: url(#primary-gradient) #9356DC;
    transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
.site-header {
  display: grid;
  place-content: center;
  min-height: 63px;
  position: relative;
}
.site-header .logo {
  font-family: "Shrikhand", cursive;
  color: #101010;
  font-size: 3rem;
  margin: 0;
}
.site-header nav {
  position: absolute;
  top: 20px;
  left: 23px;
}
.site-header nav a:link {
  color: #353535;
  border: 0;
  font-size: 1.6rem;
}

.location__form {
  background: #f6f6f6;
  text-align: center;
  padding-bottom: 10px;
}

.location__field {
  background: #eaeaea;
  background: linear-gradient(180deg, #cfcfcf 0%, #eaeaea 10%, #eaeaea 100%);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.location__field input {
  border: 0;
  background: transparent;
  margin-left: 12px;
  min-width: 50px !important;
  max-width: 99.99% !important;
  transition: width 0.25s;
}

.location__headline {
  margin-top: 40px;
}
.location__headline h1 {
  font-size: 2.4rem;
  padding: 0 40px;
}
.location__headline h2 {
  font-size: 1.8rem;
  color: #353535;
  font-weight: 300;
  padding: 0 30px;
}

.section-operations {
  padding: 50px 20px 70px;
}

.operations__list {
  margin-top: 30px;
  list-style: none;
  padding: 0;
  counter-reset: operations-counter;
  gap: 28px;
}

.operation {
  display: flex;
  align-items: center;
  counter-increment: operations-counter;
  flex-grow: 1;
  position: relative;
  margin-left: 12px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 33px;
  background: #f6f6f6;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50vh;
}
.operation::before {
  content: counter(operations-counter);
  position: absolute;
  left: -12px;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background: #9356DC;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  line-height: 25px;
}
.operation:hover {
  background: #f4eefc;
}
.operation:hover .operation__icon {
  color: #9356DC;
}

.operation__icon {
  margin-left: 33px;
  color: #7e7e7e;
}

.operation__text {
  font-weight: bolder;
  margin-left: 27px;
}

.section-posts {
  background: #f6f6f6;
  padding: 58px 20px 64px;
  padding-top: 58px;
}

.post {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 15px;
  display: grid;
  grid-template-areas: "restaurant";
  overflow: hidden;
  position: relative;
}

.post__link:link {
  grid-area: restaurant;
  color: #000;
  border: 0;
}
.post__link:hover {
  background: #FF79DA;
  color: #481a7f;
}

.post__thumb {
  display: grid;
}

.post__img img {
  height: 174px;
}

@media (min-width: 992px) {
  .post__img img {
    height: 250px;
  }
}
.meta-info {
  position: absolute;
  top: 13px;
  right: 11px;
  padding: 5px 13px;
  background-color: #99E2D0;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.5);
}

.post__content {
  display: flex;
  flex-direction: column;
  padding: 0 90px 0 14px;
}

.post__title {
  margin-top: 10px;
  margin-bottom: 0;
}

.post__description {
  margin-top: 0;
  margin-bottom: 18px;
}

.btn-like {
  grid-area: restaurant;
  margin: auto 24px 33px auto;
}

.section-post {
  background: #f6f6f6;
  position: relative;
  padding-top: 227px;
  padding-bottom: 12px;
}
.section-post .post__thumb {
  position: absolute;
  top: 0;
  width: 100%;
}
.section-post .post__img img {
  height: 257px;
  border-radius: 0;
}
.section-post .post__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background: #f6f6f6;
  border-radius: 37px;
}
.section-post .like-btn {
  margin: 0;
}

.menu__form {
  padding: 0 20px;
}

.menu__field {
  border: 0;
  margin: 0;
  padding: 0;
}
.menu__field h2 {
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: 14px;
  margin-top: 28px;
  position: relative;
  text-transform: uppercase;
}
.menu__field h2::after {
  background: #99E2D0;
  content: "";
  display: block;
  height: 3px;
  margin-top: 6px;
  width: 40px;
}

.menu-item {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 17px;
  display: flex;
  flex-direction: row;
  opacity: 0;
  transform: translateY(50%);
  animation: menu-init 1s ease-in-out forwards;
  overflow: hidden;
}
.menu-item:hover, .menu-item:focus {
  cursor: pointer;
}
.menu-item:hover .menu-item__info, .menu-item:focus .menu-item__info {
  margin-right: 0;
}
.menu-item:hover .menu-item__input, .menu-item:focus .menu-item__input {
  transform: translateX(0);
}
.menu-item:hover .menu-item__input .menu-item__control, .menu-item:focus .menu-item__input .menu-item__control {
  opacity: 1;
  transform: rotate(360deg);
}

@keyframes menu-init {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu__field .menu-item:nth-of-type(2) {
  animation-delay: 200ms;
}
.menu__field .menu-item:nth-of-type(3) {
  animation-delay: 400ms;
}

.menu-item__label {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-width: 0;
  padding: 8px 20px;
}

.menu-item__content {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.menu-item__name,
.menu-item__description {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-item__info {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: -60px;
  /* width of .menu-item__input */
  transition: margin ease-in-out 400ms;
}

.menu-item__price {
  font-weight: 500;
  margin-top: auto;
}

.menu-item__input {
  background: #99E2D0;
  display: grid;
  flex-shrink: 0;
  grid-template-areas: "menu-item__input";
  margin-left: auto;
  place-content: center;
  transform-origin: right;
  transform: translateX(60px);
  transition: all ease-in-out 400ms;
  width: 60px;
}
.menu-item__input > * {
  grid-area: menu-item__input;
}
.menu-item__input input {
  height: 1em;
  opacity: 0;
  width: 1em;
}

.menu-item__control {
  background: #fff;
  border-radius: 20px;
  border: 0;
  color: #99E2D0;
  display: inline-grid;
  height: 20px;
  opacity: 0;
  transform-origin: center center;
  transform: rotate(0deg);
  transition: all ease-in-out 400ms;
  width: 20px;
}

.menu-item__control svg {
  transform-origin: bottom left;
  transform: scale(0);
  transition: transform 0.1s ease-in 25ms;
}

.menu-item__input input:checked + .menu-item__control svg {
  transform: scale(1);
}

.menu-item__input input:focus + .menu-item__control {
  box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
}

.site-footer {
  background: #353535;
}

.footer-content {
  padding: 25px 20px 35px;
  color: #fff;
}
.footer-content > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-content li {
  margin-top: 2px;
}
.footer-content a:link {
  color: #fff;
  border-style: none;
}
.footer-content span {
  margin-right: 15px;
}
.footer-content span .fas {
  width: 13px;
}

/*# sourceMappingURL=style.css.map */
