#primary-gradient {
  --color-stop-1: #FF79DA;
  --color-stop-2: #9356DC;
}

/* Generic
--------------------------------------------- */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
button:focus,
input:focus {
  outline: 2px solid #9356DC;
  outline-offset: 0.25em;
}

/* Typography
--------------------------------------------- */
html {
  font-size: 62.5%;
}

body {
  color: #000;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 500;
  margin-bottom: 2rem;
}

h1, .h1 {
  font-size: 2.6rem;
  line-height: 1.2;
  font-weight: 600;
}

h2, .h2 {
  font-size: 2.4rem;
  line-height: 1.25;
  font-weight: 600;
}

h3, .h3 {
  font-size: 1.8rem;
  line-height: 1.3;
}

h4, .h4 {
  font-size: 1.8rem;
  line-height: 1.35;
}

h5, .h5 {
  font-size: 1.6rem;
  line-height: 1.5;
}

h6, .h6 {
  font-size: 1.6rem;
  line-height: 1.4;
}

.heading {
  display: block;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
}

p, .p {
  margin-bottom: 0.8em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

big {
  font-size: 125%;
}

a {
  border-bottom: 1px dotted currentColor;
  color: #9356DC;
  outline: solid transparent;
  position: relative;
  text-decoration: none;
  transition: all ease-in-out 200ms;
}

a:visited {
  color: currentColor;
}

a:focus {
  border-bottom-style: solid;
  background: #99E2D0;
  color: #782cd3;
}

a:hover {
  border-bottom-style: solid;
  color: #782cd3;
}

a:active {
  background: #FF79DA;
  color: #782cd3;
  top: 1px;
}

/* Elements
--------------------------------------------- */
body {
  margin: 0;
  background: #fff;
}

img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 18px;
}

@media (min-width: 768px) {
  .grid-small {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
  }
}
@media (min-width: 992px) {
  .grid-medium {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .flex-medium {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .grid-large {
    gap: 14px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
button {
  cursor: pointer;
}

.btn {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  background: #9356DC;
  background: linear-gradient(355deg, #9356DC 0%, #FF79DA 100%);
  border-radius: 50vh;
  border: 0;
  color: #fff;
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 45px auto;
  min-width: 186px;
  padding: 1.6rem 2.2rem;
  position: relative;
  z-index: 1;
}
.btn::before {
  box-shadow: 0px 2px 5px rgba(172, 102, 255, 0.5);
  background: #a16be0;
  background: linear-gradient(355deg, #ac66ff 0%, #ff93e1 100%);
  border-radius: 50vh;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 200ms linear;
  z-index: -1;
}
.btn:hover::before {
  opacity: 1;
}
.btn:active {
  top: 1px;
}

/*
 * Solution in pure css.
 */
.btn-like.pure-css {
  cursor: pointer;
  display: grid;
  height: 28px;
  place-content: center;
  position: relative;
  right: 8px;
  transform-origin: center;
  transform: rotate(-45deg);
  width: 28px;
}
.btn-like.pure-css:hover .heart-fill {
  transform: scale(1);
}
.btn-like.pure-css .heart-shape {
  position: relative;
  grid-area: hearts;
  height: 28px;
  width: 28px;
}
.btn-like.pure-css .heart-shape::before, .btn-like.pure-css .heart-shape::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 18px;
  height: 28px;
  border-radius: 18px 18px 0 0;
}
.btn-like.pure-css .heart-shape::after {
  width: 28px;
  height: 18px;
  border-radius: 0 18px 18px 0;
}
.btn-like.pure-css .heart-bg {
  top: 1px;
  left: 1px;
  height: 26px;
  width: 26px;
}
.btn-like.pure-css .heart-bg::before, .btn-like.pure-css .heart-bg::after {
  width: 16px;
  height: 26px;
  border-radius: 16px 16px 0 0;
}
.btn-like.pure-css .heart-bg::after {
  width: 26px;
  height: 16px;
  border-radius: 0 16px 16px 0;
}
.btn-like.pure-css .heart-stroke::before, .btn-like.pure-css .heart-stroke::after {
  background-color: #101010;
}
.btn-like.pure-css .heart-bg::before, .btn-like.pure-css .heart-bg::after {
  background-color: #fff;
}
.btn-like.pure-css .heart-fill::before, .btn-like.pure-css .heart-fill::after {
  background: #9356DC;
  background: linear-gradient(45deg, #ff79da 0%, #b661db 100%);
}
.btn-like.pure-css .heart-fill {
  transform-origin: bottom left;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}

/*
 * Solution svg-v1.
 */
.svg-v1 {
  padding: 0;
}
.svg-v1 .hearts {
  display: block;
  position: relative;
  width: 23px;
  height: 23px;
}
.svg-v1 .hearts svg {
  overflow: visible;
  clip-path: url(#cut-off-heart);
}
.svg-v1 .hearts .heart-main {
  overflow: visible;
  stroke: #000;
  width: 23px;
  height: 23px;
  stroke-width: 1px;
  fill: transparent;
  z-index: 10;
}
.svg-v1 .hearts .heart-fill-clip {
  stroke-width: 1px;
}
.svg-v1 .hearts .heart-fill {
  width: 23px;
  height: 23px;
  stroke: none;
  fill: url(#primary-gradient) #9356DC;
  transform: translatey(23px);
}
.svg-v1:hover .heart-fill {
  animation: fill-animation 2s ease-in-out forwards;
}

@keyframes fill-animation {
  0% {
    transform: translatey(23px);
  }
  100% {
    transform: translatey(0);
  }
}
/*
 * Solution svg-v2.
 */
.svg-v2 {
  padding: 0;
}
.svg-v2 .hearts {
  position: relative;
  width: 23px;
  height: 23px;
  stroke: #000;
  stroke-width: 1px;
  fill: transparent;
  z-index: 10;
}
.svg-v2 .hearts svg {
  overflow: visible;
  width: 23px;
  height: 23px;
}
.svg-v2 .hearts path {
  stroke-dashoffset: 0;
  stroke-dasharray: 73;
  transform-origin: center;
}
.svg-v2 .hearts .heart-background {
  position: absolute;
  left: 0;
  right: 0;
  stroke: none;
  z-index: -1;
  overflow: hidden;
}

/*
 * Solution SVG demo
 */
.svg-demo {
  padding: 0;
}
.svg-demo .hearts {
  position: relative;
  width: 23px;
  height: 23px;
  stroke: #000;
  stroke-width: 1px;
  fill: transparent;
  z-index: 10;
}
.svg-demo .hearts svg {
  overflow: visible;
  width: 23px;
  height: 23px;
}
.svg-demo .hearts path {
  stroke-dashoffset: 0;
  stroke-dasharray: 73;
  transform-origin: center;
}
.svg-demo .hearts .heart-background {
  position: absolute;
  left: 0;
  right: 0;
  stroke: none;
  z-index: -1;
}
.svg-demo:hover .heart-main path {
  animation: stroke-animation 2s ease-in-out forwards;
}
.svg-demo:hover .heart-background {
  animation: fade-animation 2s ease-in-out forwards;
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 73;
  }
  60% {
    stroke-dashoffset: 146;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: url(#primary-gradient) #9356DC;
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 146;
    fill: url(#primary-gradient) #9356DC;
  }
}
@keyframes fade-animation {
  70% {
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: url(#primary-gradient) #9356DC;
    transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
.checkbox {
  display: grid;
  grid-template-columns: min-content auto;
}
.checkbox--disabled {
  color: #7e7e7e;
}

.checkbox__control {
  display: inline-grid;
  width: 1em;
  height: 1em;
  border-radius: 0.25em;
  border: 0.1em solid currentColor;
}
.checkbox__control svg {
  transition: transform 0.1s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
}

.checkbox__input {
  display: grid;
  grid-template-areas: "checkbox";
}
.checkbox__input > * {
  grid-area: checkbox;
}
.checkbox__input input {
  opacity: 0;
  width: 1em;
  height: 1em;
}
.checkbox__input input:checked + .checkbox__control svg {
  transform: scale(1);
}
.checkbox__input input:disabled + .checkbox__control {
  color: var(--disabled);
}

.modal-box {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 15px;
  display: grid;
  place-content: center;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  opacity: 0;
  place-content: center;
  position: fixed;
  transform-origin: center;
  transform: scale(0);
  z-index: 1000;
  animation: modal-init 5s linear forwards;
}
.modal-box .heading {
  display: block;
  margin: 0 auto 120px;
  font-size: 4rem;
}
.modal-box .text {
  margin-top: 10px;
  text-align: center;
}

@keyframes modal-init {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  10% {
    transform: scale(1);
    opacity: 1;
  }
  90% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
.loader {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 30px;
}
.loader .ball {
  border-radius: 30px;
  height: 30px;
  position: relative;
  width: 30px;
  z-index: 999;
  transform-origin: center;
  animation: jump 1s infinite both;
}
.loader .shadow {
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  height: 5px;
  opacity: 0.2;
  position: relative;
  bottom: 4px;
  width: 30px;
  animation: shrink 1s infinite both;
}
.loader div:nth-of-type(1) {
  background: #9356DC;
  background: linear-gradient(0deg, #782cd3 0%, #9356DC 100%);
}
.loader div:nth-of-type(2) {
  background: #FF79DA;
  background: linear-gradient(0deg, #ff46cc 0%, #FF79DA 100%);
  animation-delay: 0.15s;
}
.loader div:nth-of-type(3) {
  background: #99E2D0;
  background: linear-gradient(0deg, #71d7be 0%, #99E2D0 100%);
  animation-delay: 0.3s;
}
.loader div:nth-of-type(5) {
  animation-delay: 0.15s;
}
.loader div:nth-of-type(6) {
  animation-delay: 0.3s;
}
@keyframes jump {
  0% {
    transform-origin: bottom;
    transform: translateY(0) scale(1.3, 0.4);
    animation-timing-function: ease-in;
  }
  15% {
    transform-origin: center;
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  45% {
    transform-origin: top;
    transform: translateY(-110px) scale(0.8, 1.2);
    animation-timing-function: ease-in;
  }
  55% {
    transform-origin: top;
    transform: translateY(-110px) scale(0.8, 1.2);
    animation-timing-function: ease-in;
  }
  88% {
    transform-origin: center;
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  100% {
    transform-origin: bottom;
    transform: translateY(0) scale(1.3, 0.4);
    animation-timing-function: ease-out;
  }
}
@keyframes shrink {
  0% {
    transform: scaleX(1);
    opacity: 0.2;
    animation-timing-function: ease-in;
  }
  15% {
    transform: scaleX(1);
    opacity: 0.2;
    animation-timing-function: ease-out;
  }
  45% {
    transform: scaleX(0.5);
    opacity: 0.05;
    animation-timing-function: ease-in;
  }
  55% {
    transform: scaleX(0.5);
    opacity: 0.05;
    animation-timing-function: ease-in;
  }
  88% {
    transform: scaleX(1);
    opacity: 0.2;
    animation-timing-function: ease-out;
  }
  100% {
    transform: scaleX(1);
    opacity: 0.2;
    animation-timing-function: ease-out;
  }
}

.site-header {
  display: grid;
  place-content: center;
  min-height: 63px;
  position: relative;
}
.site-header .logo {
  font-family: "Shrikhand", cursive;
  color: #101010;
  font-size: 3rem;
  margin: 0;
}
.site-header nav {
  position: absolute;
  top: 20px;
  left: 23px;
}
.site-header nav a:link {
  color: #353535;
  border: 0;
  font-size: 1.6rem;
}

.location__form {
  background: #f6f6f6;
  text-align: center;
  padding-bottom: 10px;
}

.location__field {
  background: #eaeaea;
  background: linear-gradient(180deg, #cfcfcf 0%, #eaeaea 10%, #eaeaea 100%);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.location__field input {
  border: 0;
  background: transparent;
  margin-left: 12px;
  width: 120px;
}

.location__headline {
  margin-top: 40px;
}
.location__headline h1 {
  font-size: 2.4rem;
  padding: 0 40px;
}
.location__headline h2 {
  font-size: 1.8rem;
  color: #353535;
  font-weight: 300;
  padding: 0 30px;
}

.section-operations {
  padding: 50px 20px 70px;
}

.operations__list {
  margin-top: 30px;
  list-style: none;
  padding: 0;
  counter-reset: operations-counter;
  gap: 28px;
}

.operation {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  align-items: center;
  background: #f6f6f6;
  border-radius: 50vh;
  counter-increment: operations-counter;
  display: flex;
  flex-grow: 1;
  margin-left: 12px;
  padding-bottom: 25px;
  padding-right: 33px;
  padding-top: 25px;
  position: relative;
  z-index: 10;
}
.operation::before {
  content: counter(operations-counter);
  position: absolute;
  left: -12px;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background: #9356DC;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  line-height: 25px;
}
.operation:after {
  background: #f4eefc;
  border-radius: inherit;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity ease-in-out 200ms;
  right: 0;
  top: 0;
  z-index: -1;
}
.operation:hover .operation__icon {
  color: #9356DC;
}
.operation:hover::after {
  opacity: 1;
}

.operation__icon {
  margin-left: 33px;
  color: #7e7e7e;
}

.operation__text {
  font-weight: bolder;
  margin-left: 27px;
}

.section-posts {
  background: #f6f6f6;
  padding: 58px 20px 64px;
  padding-top: 58px;
}

.post {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 15px;
  display: grid;
  grid-template-areas: "restaurant";
  overflow: hidden;
  position: relative;
}

.post__link {
  grid-area: restaurant;
  color: #000;
  border: 0;
}
.post__link:hover .post__title {
  text-decoration: underline;
}

.post__thumb {
  display: grid;
}

.post__img img {
  height: 174px;
}

@media (min-width: 992px) {
  .post__img img {
    height: 250px;
  }
}
.meta-info {
  position: absolute;
  top: 13px;
  right: 11px;
  padding: 5px 13px;
  background-color: #99E2D0;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.5);
}

.post__exerpt {
  display: flex;
  flex-direction: column;
  padding: 0 90px 0 14px;
}

.post__title {
  margin-top: 10px;
  margin-bottom: 0;
}

.post__description {
  margin-top: 0;
  margin-bottom: 18px;
}

.btn-like {
  grid-area: restaurant;
  margin: auto 24px 33px auto;
}

.section-post {
  position: relative;
  padding-top: 220px;
  background: #f6f6f6;
}
.section-post .post__thumb {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
.section-post .post__img img {
  height: 257px;
  border-radius: 0;
}
.section-post .post-content {
  position: relative;
  background: #f6f6f6;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-radius: 37px;
  padding-top: 30px;
  padding-bottom: 12px;
  z-index: 10;
}
.section-post .post__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
.section-post .like-btn {
  margin: 0;
}

.menu__form {
  padding: 0 20px;
  background: #f6f6f6;
}

.menu__field {
  border: 0;
  margin: 0;
  padding: 0;
}
.menu__field h2 {
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: 14px;
  margin-top: 28px;
  position: relative;
  text-transform: uppercase;
}
.menu__field h2::after {
  background: #99E2D0;
  content: "";
  display: block;
  height: 3px;
  margin-top: 6px;
  width: 40px;
}
.menu__field .menu-item {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  animation: menu-init 1s ease-in-out both;
  background: #fff;
  border-radius: 17px;
  display: flex;
  overflow: hidden;
}
.menu__field .menu-item:nth-of-type(2) {
  animation-delay: 200ms;
}
.menu__field .menu-item:nth-of-type(3) {
  animation-delay: 400ms;
}
.menu__field .menu-item:hover .menu-item__input {
  margin-right: 0;
}
.menu__field .menu-item:hover .menu-item__input .menu-item__control {
  opacity: 1;
  transform: rotate(360deg);
}
.menu__field .menu-item .menu-item__label {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  min-width: 0;
  padding: 10px;
}
.menu__field .menu-item .menu-item__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
}
.menu__field .menu-item .menu-item__name,
.menu__field .menu-item .menu-item__description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}
.menu__field .menu-item .menu-item__info {
  align-self: flex-end;
  padding: 0 10px;
}
.menu__field .menu-item .menu-item__price {
  font-weight: bolder;
}
.menu__field .menu-item .menu-item__input {
  background: #99E2D0;
  place-content: center;
  width: 60px;
  margin-right: -60px;
  transition: margin linear 400ms;
}
.menu__field .menu-item .menu-item__control {
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  color: #99E2D0;
  background: #fff;
  transform: rotate(0);
  opacity: 0;
  transition: transform linear 400ms, opacity linear 400ms;
}
.menu__field .menu-item .menu-item__input:focus-within {
  transition: none !important;
  margin-right: 0;
}
.menu__field .menu-item .menu-item__input:focus-within .menu-item__control {
  transition: none !important;
  opacity: 1;
  transform: rotate(360deg);
}

@keyframes menu-init {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.site-footer {
  background: #353535;
}

.footer-content {
  padding: 25px 20px 35px;
  color: #fff;
}
.footer-content > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-content li {
  margin-top: 2px;
}
.footer-content a {
  color: #fff;
  border-color: transparent;
}
.footer-content a:focus {
  color: #782cd3;
}
.footer-content a:hover {
  color: currentColor;
  border-color: currentColor;
}
.footer-content a:active {
  color: #782cd3;
}
.footer-content span {
  margin-right: 15px;
}
.footer-content span .fas {
  width: 13px;
}

/*# sourceMappingURL=style.css.map */
