.container-small,
.container-medium,
.container-large {
    margin: 0 auto;
    max-width: $container-size;
    min-width: $container-size__min;
    padding-left: $site-gap;
    padding-right: $site-gap;
}

@media (min-width: $small) {
    .container-large {
        max-width: $container-size__max;
    }
}

@media (min-width: $medium) {
    .container-medium {
        max-width: $large;
    }
}

@media (min-width: $large) {
    .container-small {
        max-width: $container-size__max;
    }
}
