.container,
.container-small,
.container-medium {
    margin: 0 auto;
    max-width: $container-size;
    padding-left: $site-gap;
    padding-right: $site-gap;
}

.container-large {
    @extend .container;
    max-width: $container-size__max;
}

@media (min-width: $small) {
    .container,
    .container-medium,
    .container-large {
        padding-left: $site-gap*2;
        padding-right: $site-gap*2;
    }
}

@media (min-width: $medium) {
    .container-medium {
        max-width: $container-size__max;
    }
}

@media (min-width: $large) {
    .container-small {
        max-width: $container-size__max;
        padding-left: $site-gap*2;
        padding-right: $site-gap*2;
    }
}
