.site-footer {
    background: $grey-dark;
    display: grid;
    grid-template-columns: minmax(0, $large);
    justify-content: center;
    padding: 25px $site-gap 35px;
    color: $white;;

    .heading {
        @media (min-width: $small) {
            text-align: center;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        @media (min-width: $small) {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            column-gap: 30px;
        }
    }

    li {
        margin-top: 2px;

        a {
            color: $white;
            border-color: transparent;

            &:focus {
                color: darken($color__link--hover, 80);
            }

            &:hover {
                color: currentColor;
                border-color: currentColor;
            }

            &:active {
                color: darken($color__link--hover, 80);
            }

        }

        &::before {
            margin-right: 15px;
        }

        &:nth-of-type(1)::before {
            @include icon;
            content: "\f2e7";
        }

        &:nth-of-type(2)::before {
            @include icon;
            content: "\f4c4";
        }
    }
}
