.site-footer {
    background: $grey-dark;
}

.footer-content {
    padding-top: 25px;
    padding-bottom: 35px;
    color: $white;

    .heading {
        @media (min-width: $small) {
            text-align: center;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        @media (min-width: $small) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 30px;
        }
    }
        
    li {
        margin-top: 2px;

        a {
            color: $white;
            border-color:transparent;

            &:focus {
                color: $color__link--hover;
            }

            &:hover {
                color: currentColor;
                border-color: currentColor;
            }

            &:active {
                color: $color__link--hover;
            }

        }

        span {
            margin-right: 15px;

            .fas {
                width: 13px;
            }
        }
    }
}