.page-post {
    .post {
        position: relative;
        padding-top: 220px;
        background: $white;
    
        &::after {
            background: $grey-dark;
            bottom: 0;
            content: "";
            height: 20px;
            left: 0;
            position: absolute;
            right: 0;
        }
    
        .post__thumb {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 5;
        }
    
        .post__img img {
            height: 257px;
            border-radius: 0;
        }
        
        .post-content {
            @include box-shadow;
            position: relative;
            background: $color__background;
            border-radius: 37px;
            padding-top: 30px;
            padding-bottom: 12px;
            z-index: 10;
        }
    
        .post__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            position: relative;
    
            @media (min-width: $large) {
                justify-content: center;
            }
        }
    
        .btn-like {
            margin-left: 50px;
        }
    }
}
