.post__link {
    grid-area: restaurant;
    color: $color__text-main;
    border: 0;
    display: grid;
    grid-template-areas: "image" "text";
}

.post__picture {
    grid-area: image;
}

.post__img {
    height: 174px;

    @media (min-width: $medium) {
        height: 250px;
    }
}

.meta-info {
    grid-area: image;
    margin: 13px 11px auto auto;
    padding: 5px 13px;
    background-color: $color-tertiary;
    border-radius: 3px;
    color: rgba(0, 0, 0, .5);
}

.post__title,
.post__description {
    margin: 0;
    padding: 10px 90px 0 14px;
}

.post__description {
    padding-top: 0;
    padding-bottom: 18px;
}

.btn-like {
    grid-area: restaurant;
    margin: auto 24px 33px auto;
}
