.modal-box {
  @include box-shadow;

  animation: modal-init 5s linear forwards;
  background-color: $white;
  bottom: 0;
  display: grid;
  left: 0;
  opacity: 0;
  place-content: center;
  position: fixed;
  right: 0;
  top: 0;
  transform: scale(0);
  transform-origin: center;
  z-index: 1000;

  .heading {
    display: block;
    font-size: 4rem;
    margin: 0 auto 120px;
  }

  .text {
    margin-top: 10px;
    text-align: center;
  }
}

@keyframes modal-init {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  10% {
    opacity: 1;
    transform: scale(1);
  }

  90% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.loader {
  $ball-nbr: 3;
  $ball-size: 30px;
  $gap: 30px;
  $jump: -110px;
  $duration: 1s;
  $delay: 0.15s;

  column-gap: $gap;
  display: grid;
  grid-template-columns: repeat($ball-nbr, minmax(0, 1fr));
  margin: auto;

  .ball {
    animation: jump $duration infinite both;
    border-radius: $ball-size;
    cursor: pointer;
    height: $ball-size;
    position: relative;
    transform-origin: center;
    width: $ball-size;
    z-index: 999;
  }

  .ball:active {
    animation-play-state: paused;
  }

  div:nth-of-type(1) {
    background: $color-primary;
    background: linear-gradient(0deg, darken($color-primary, 10) 0%, $color-primary 100%);
  }

  div:nth-of-type(2) {
    animation-delay: $delay*2;
    background: $color-secondary;
    background: linear-gradient(0deg, darken($color-secondary, 10) 0%, $color-secondary 100%);
  }

  div:nth-of-type(3) {
    animation-delay: $delay;
    background: $color-tertiary;
    background: linear-gradient(0deg, darken($color-tertiary, 10) 0%, $color-tertiary 100%);
  }

  div:nth-of-type(5) {
    animation-delay: $delay*2;
  }

  div:nth-of-type(6) {
    animation-delay: $delay;
  }

  .ball:active + div + div + div {
    animation-play-state: paused;
  }

  .shadow {
    animation: shrink $duration infinite both;
    background-color: #000;
    border-radius: 50%;
    bottom: 4px;
    display: inline-block;
    height: 5px;
    opacity: 0.2;
    position: relative;
    width: $ball-size;
  }

  @keyframes jump {
    0% {
      animation-timing-function: ease-in;
      transform: translateY(0) scale(1.3, 0.4);
      transform-origin: bottom;
    }

    15% {
      animation-timing-function: ease-out;
      transform: translateY(0);
      transform-origin: center;
    }

    45% {
      animation-timing-function: ease-in;
      transform: translateY($jump) scale(0.8, 1.2);
      transform-origin: top;
    }

    55% {
      animation-timing-function: ease-in;
      transform: translateY($jump) scale(0.8, 1.2);
      transform-origin: top;
    }

    88% {
      animation-timing-function: ease-out;
      transform: translateY(0);
      transform-origin: center;
    }

    100% {
      animation-timing-function: ease-out;
      transform: translateY(0) scale(1.3, 0.4);
      transform-origin: bottom;
    }
  }

  @keyframes shrink {
    0% {
      animation-timing-function: ease-in;
      opacity: 0.2;
      transform: scaleX(1);
    }

    15% {
      animation-timing-function: ease-out;
      opacity: 0.2;
      transform: scaleX(1);
    }

    45% {
      animation-timing-function: ease-in;
      opacity: 0.05;
      transform: scaleX(0.5);
    }

    55% {
      animation-timing-function: ease-in;
      opacity: 0.05;
      transform: scaleX(0.5);
    }

    88% {
      animation-timing-function: ease-out;
      opacity: 0.2;
      transform: scaleX(1);
    }

    100% {
      animation-timing-function: ease-out;
      opacity: 0.2;
      transform: scaleX(1);
    }
  }
}
