$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$white: #fff;
$grey: #7e7e7e;
$grey-lighter: #f6f6f6;
$grey-light: #eaeaea;
$grey-dark: #353535;
$grey-darker: #101010;
$black: #000;

$color__background-body: $white;
$color__background: $grey-lighter;
$color__text-main: $black;
$color__logo: $grey-darker;

$color__link: $color-primary;
$color__link--hover: lightness-shift($color__link);

$color-btn: $color-primary;
$color-btn--hover: lighten($color-primary, 5);

$gradient-btn: linear-gradient(355deg, $color-primary 0%, $color-secondary 100%);
$gradient-btn--hover: linear-gradient(355deg, lightness-shift( $color-primary ) 0%, lightness-shift( $color-secondary ) 100%);

$gradient-heart: linear-gradient(45deg, rgba(255,121,218,1) 0%, rgba(182,97,219,1) 100%);

$font__heading: 'Shrikhand', cursive;
$font__main: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font__size: 1.6rem;
$font__weight: 300;
$line-height: 1.6;

$site-gap: 20px;
$image-width__max: 600px;

$container-size__min: 340px;
$container-size: 600px;
$container-size__max: 1440px;

$site-gap: 20px;

$small: 768px;
$medium: 992px;
$large: 1200px;
