h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-bottom: 2rem;
  font-weight: 500;
}

h1,
.h1 {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.2;
}

h2,
.h2 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
}

h3,
.h3 {
  font-size: 1.8rem;
  line-height: 1.3;
}

h4,
.h4 {
  font-size: 1.8rem;
  line-height: 1.35;
}

h5,
.h5 {
  font-size: 1.6rem;
  line-height: 1.5;
}

h6,
.h6 {
  font-size: 1.6rem;
  line-height: 1.4;
}

.heading {
  display: block;
  font-family: $font-heading;
  font-weight: normal;
}
