a {
    border-bottom: 1px dotted currentColor;
    color: $color__link;
    outline: solid transparent;
    position: relative;
    text-decoration: none;
    transition: color ease-in-out 200ms;
}

a:visited {
    color: currentColor;
}

a:focus-visible {
    border-bottom-style: solid;
    background: $color-tertiary;
    color: darken($color__link--hover, 80);
    outline: 2px solid $color-primary;
    outline-offset: 0.25em;
}

a:hover {
    border-bottom-style: solid;
    color: $color__link--hover;
}

a:active {
    background: $color-secondary;
    color: darken($color__link--hover, 80);
    top: 1px;
}
