a {
	outline: none;
	text-decoration: none;
	color: $color__link;
	border-bottom: 1px dotted;
}

a:visited {
	color: inherit;
}

a:focus {
	border-bottom-style: solid;
	background: $color__link--hover;
}

a:hover {
	border-bottom-style: solid;
	color: $color__link--hover;
}

a:active {
	background: $color__link--hover;
	color: $color__link;
}
