a {
	position: relative;
	outline: solid transparent;
	text-decoration: none;
	color: $color__link;
	border-bottom: 1px dotted currentColor;
}

a:visited {
	color: inherit;
}

a:focus {
	border-bottom-style: solid;
	background: $color__link;
	color: darken($color__link--hover, 30);
}

a:hover {
	border-bottom-style: solid;
	color: $color__link--hover;
}

a:active {
	background: $color__link;
	color: darken($color__link--hover, 30);
	top: 1px;
}
