html {
    font-size: 62.5%;
}

body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: $font__size;
	font-weight: $font__weight;
	line-height: $line-height;
}
