.menu__field {
    border: 0;
    padding: 0 $site-side__padding;
    margin: 0;

    h2 {
        position: relative;
        font-weight: normal;
        margin-top: 28px;
        margin-bottom: 14px;
        text-transform: uppercase;
        font-size: 1.6rem;

        &::after {
            display: block;
            content: "";
            height: 3px;
            width: 40px;
            margin-top: 6px;
            background: $color-tertiary;
        }
    }
}

.menu__grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 14px;

}

@media (min-width: $large) {
    .menu__grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 30px;
    }
}

.menu-item {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    border-radius: 17px;
    background: $white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);

    &:hover {
        cursor: pointer;

        & .menu-item__info {
            margin-right: 0;
        }

        & .menu-item__input {
            animation: checkbox .5s ease-in-out forwards;

            & .menu-item__control {
                animation: checkbox-control .5s ease-in-out forwards;
            }
        }
    }
}

.menu-item__label {
    padding: 8px $site-side__padding;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-width: 0;
}

.menu-item__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 6px;
    min-width: 0;
    padding-right: 8px;
}

.menu-item__name,
.menu-item__description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}

.menu-item__info {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: -60px; /* width of .menu-item__input */
    transition: margin .5s ease-in-out;
}

.menu-item__price {
    margin-top: auto;
}

.menu-item__input {
    flex-shrink: 0;
    width: 60px;
    display: grid;
    grid-template-areas: "checkbox";
    justify-content: center;
    align-items: center;
    background: $color-tertiary;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transform-origin: right;
    transform: translateX(60px);
    
    >* {
        grid-area: checkbox;
    }

    input {
        opacity: 0;
        width: 1em;
        height: 1em;
    }
}

.menu-item__control {
    display: inline-grid;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 0;
    background: $white;
    color: $color-tertiary;
    opacity: 0;
    transform-origin: center center;
    transform: rotate(0deg);
}

.menu-item__control svg {
    transition: transform 0.1s ease-in 25ms;
    transform: scale(0);
    transform-origin: bottom left;
  }

  .menu-item__input input:checked + .menu-item__control svg {
    transform: scale(1);
  }

  .menu-item__input input:focus + .menu-item__control {
    box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
  }

  .btn {
    display: block;
    margin: 46px auto 58px;
}

@keyframes checkbox {
    from {
        transform: translateX(60px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes checkbox-control {
    0% {
        transform: rotate(0);
        opacity: 0;
    }
    33% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}