.restaurant {
    display: grid;
    grid-template-areas: "restaurant";
    position: relative;
    @include box-shadow;
}

.restaurant__link:link {
    grid-area: restaurant;
    color: $color__text-main;
    border: 0;
}

.restaurant,
.restaurant__img img,
.restaurant__content {
    border-radius: 15px;
}

.restaurant__thumb {
    position: relative;
}

.restaurant__img img {
    height: 174px;
    object-fit: cover;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@media (min-width: $medium) {
    .restaurant__img img {
        height: 20vw;
    }
}

.meta-info {
    position: absolute;
    top: 13px;
    right: 11px;
    padding: 5px 13px;
    background-color: $color-tertiary;
    border-radius: 3px;
    color: rgba(0, 0, 0, .5);
}

.restaurant__content {
    display: flex;
    flex-direction: column;
    background: $white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.restaurant__info {
    padding: 0 90px 0 14px;
}

.restaurant__title {
    margin-top: 10px;
    margin-bottom: 0;
}

.restaurant__address {
    margin-top: 0;
    margin-bottom: 18px;
    font-weight: 300;
}

.restaurant__like-button {
    grid-area: restaurant;
    margin: auto 24px 33px auto;
}
