.section-posts {
    background: $color__background;
    padding-top: 58px;
    padding-bottom: 64px;

    .section-title {
        margin-bottom: $site-gap*2;

        @media (min-width: $small) {
            text-align: center;
            margin-bottom: $site-gap*2;
        }
    }
}
