.menu__form {
    padding: 0 $site-side__padding;
    background: $color__background;
}

.menu__field {
    border: 0;
    margin: 0;
    padding: 0;

    h2 {
        font-size: 1.6rem;
        font-weight: normal;
        margin-bottom: 14px;
        margin-top: 28px;
        position: relative;
        text-transform: uppercase;

        &::after {
            background: $color-tertiary;
            content: "";
            display: block;
            height: 3px;
            margin-top: 6px;
            width: 40px;
        }
    }

    .menu-item {
        @include box-shadow;
        animation: menu-init 1s ease-in-out both;
        background: $white;
        border-radius: 17px;
        display: flex;
        overflow: hidden;
    
        &:nth-of-type(2) {
            animation-delay: 200ms;
        }
    
        &:nth-of-type(3) {
            animation-delay: 400ms;
        }

        &:hover {
            .menu-item__input {
                margin-right: 0;

                .menu-item__control {
                    opacity: 1;
                    transform: rotate(360deg);
                }
            }
        }

        .menu-item__label {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            justify-content: space-between;
            min-width: 0;
            padding: 10px;
        }

        .menu-item__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-width: 0;;
        }

        .menu-item__name,
        .menu-item__description {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0;
        }

        .menu-item__info {
            align-self: flex-end;
            padding: 0 10px;
        }

        .menu-item__price {
            font-weight: bolder;
        }

        .menu-item__input {
            background: $color-tertiary;
            place-content: center;
            width: 60px;
            margin-right: -60px;
            transition: margin linear 400ms;
        }

        .menu-item__control {
            height: 2rem;
            width: 2rem;
            border-radius: 2rem;
            color: $color-tertiary;
            background: $white;
            transform: rotate(0);
            opacity: 0;
            transition: transform linear 400ms,
                        opacity linear 400ms;
        }

        .menu-item__input:focus-within {
            transition: none !important;
            margin-right: 0;

            .menu-item__control {
                transition: none !important;
                opacity: 1;
                transform: rotate(360deg);
            }
        }
    }
}


@keyframes menu-init {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
};
